:root {
    --cor1: #6B3ACB;
    --cor2: #99B9FF;
    --cor3: #D9D9D9;
    --cor4: ;
    --cor5: ;

}

@import url('https://fonts.googleapis.com/css2? family=DM+Sans&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&family=Smooch+Sans:wght@100;200;300;400&display=swap');


/*configurações iniciais*/

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--cor3);
    font-family: 'DM Sans', 'Inter', sans-serif;
}




/* Cabeçalho e rodapé das páginas */
header,
footer {
    background-color: var(--cor1);
    height: 100px;
}

header> a> h1 {
    height: 36px;
    font-weight: 700;
    font-size: 30px;
    padding: 30px;
    margin-left: 60px;
    color: #ffffff;
}

span {
    color: #99B9FF;
}

nav {
    padding: 10px;
    margin-left: 80px;
}

nav ul,
nav li {
    display: flex;
    list-style: none;
    margin-right: 30px;
}

nav a {
    color: #000000;
}
nav a:hover{ 
    transition: 0.3s;
    color: #00000071;
}
a {
    text-decoration: none;
}


footer>div> .linkimg > img {
    width: 32px;
    height: 32px;
    margin-left: 30px;
}

footer ul,
footer li {
    display: flex;
    margin-left: 7px;
}

footer {
    display: flex;
}

.titulorodape> a >h1 {
    color: #ffffff;
    padding: 15px;
    width: 20%;
    margin-top: 15px;
}

.elerodape {
    padding: 10px;
    margin: auto;
    padding-right: 150px;

}

.elerodape a,
.elerodape p {
    margin-top: 5px;
}
.elerodape p{
    color: #ffffff;
}
footer a {
    color: hsl(0, 5%, 71%);
}



/* Página inicial*/

.secaopp {
    position: relative;
    display: flex;
    align-items: center;
    margin: auto;
    justify-content: space-between;
    padding: 20px;
}

.contsecao> a >h1 {
    font-weight: 600;
    font-size: 25px;
    line-height: 30px;
    margin-bottom: 15px;
    color: #6B3ACB;
}

.contsecao>p {
    width: 264px;
    font-weight: 300;
    font-size: 1em;
    text-align: justify;
}



.secaopp.row-reverse {
    flex-direction: row-reverse;
}

#pagprincipal {
    width: 600px;
    margin: auto;
    padding: 20px;
    position: relative;

}




/* pag resumos*/
.maincard {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--cor3);

}

.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 1200px;
}

.container .card {
    position: relative;
    width: 300px;
    padding: 20px;
    margin: 20px;
    border-radius: 8px;
    box-shadow: 3px 3px 0 0 #0000002c;
    background-color: var(--cor1);
    height: 400px;
}

.container .card .icon {
    margin-bottom: 6px;

}

.container .card .icon img {
    width: 300px;
    height: 200px;
}

.container .card .rcontent {
    position: relative;
    height: 180px;
    overflow: hidden;
    text-align: justify;
}

.container .card .rcontent>h3 {
    text-align: center;
    color: #ffffff;
    margin-bottom: 10px;
}

.container .card .rcontent::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(transparent, var(--cor1));
}

.container .card .more {
    position: relative;
    background-color: transparent;
    display: inline-block;
    cursor: pointer;
    text-transform: uppercase;
    color: #ffffff;
}

.container .card .more:hover {
    color: #b6cdfc;
    transform: 1s;

}

.container .card .more::before {
    content: 'Leia mais';
}

.container .card.active .more::before {
    content: 'Leia menos';
}

.container .card.active .more {
    margin-top: 15px;
    margin-left: 20px;
}

.container .card.active .icon img {
    width: 100%;
    height: 230px;
    border-radius: 15px 15px 0 0;
}

.container .card.active .rcontent {
    height: auto;

}

.container .card.active .rcontent::before {
    display: none;
}

#fade.hide {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
}


.card.active {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 500px;
    height: auto;
    max-width: 90%;
    padding: 1.2rem;
    border-radius: 3rem;
    margin: auto;
}

/* pag curiosidades*/
.container .card-1 {
    position: relative;
    width: 250px;
    padding: 20px;
    margin: 20px;
    border-radius: 8px;
    box-shadow: 3px 3px 0 0 #0000002c;
    background-color: var(--cor1);
}

.container .card-1 .icon {
    margin-bottom: 6px;

}

.container .card-1 .icon img {
    width: 250px;
    height: 195px;
}

.container .card-1 .rcontent {
    position: relative;
    height: 300px;
    overflow: hidden;
    text-align: justify;
}

.container .card-1 .rcontent>h3 {
    text-align: center;
    color: #ffffff;
    margin-bottom: 10px;
}

.container .card-1>.curiosidades,
.itens {
    margin-bottom: 25px;
}


.container .card-1 .rcontent::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(transparent, var(--cor1));
}

.container .card-1 .more {
    position: relative;
    background-color: transparent;
    display: inline-block;
    cursor: pointer;
    text-transform: uppercase;
    color: #ffffff;
}

.container .card-1 .more:hover {
    color: #b6cdfc;
    transform: 0.5s;

}

.container .card-1 .more::before {
    content: 'Leia mais';
}

.container .card-1.active .more::before {
    content: 'Leia menos';
}

.container .card-1.active .more {
    margin-left: 20px;
}

.container .card-1.active .icon img {
    width: 100%;
    height: 250px;
    border-radius: 40px 40px 0 0;
}

.container .card-1.active .rcontent {
    height: auto;
}

.container .card-1.active .rcontent::before {
    display: none;
}

.card-1.active {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 400px;
    height: auto;
    max-width: 90%;
    padding: 1.2rem;
    border-radius: 3rem;
    margin: auto;
}


/*--------------------------------QUIZ--------------------------------*/


.body {
    background-color: var(--cor1);
    border-radius: 10px;
    width: 500px;
    height: auto;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#campoquiz {
    margin-bottom: 70px ;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
    padding: 60px;
}

.tituloquiz {
    color: var(--cor1);
}

.mainquiz .tituloquiz {
    padding: 50px 0 20px 40px;
}

#campoquiz .content {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.question {
    color: #ffffff;
    font-size: 1.5em;
    text-align: center;
}

.answers {
    display: grid;
    grid-template-columns: 200px 200px;
    gap: 20px;
    justify-content: center;
    margin-right: -15px;

}

.buttonquiz {
    width: 95%;
    text-align: start;
    border: none;
    cursor: pointer;
    background-color: #ffffff;
    color: var(--cor1);
    height: 35px;
    text-align: center;
    font-size: 1em;
}

.finish {
    display: none;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    font-size: 1.5em;
}

.finish span {
    color: #ffffff;
}

.finish button {
    text-align: center;
}
.iniciarquiz:hover{
    transition: 0.5s;
    background-color: #6a3acbbb;
}
.img {
    width: 350px;
}

form {
    color: var(--cor1);
    font-size: 1.3em;
    width: 400px;
    margin: auto;
}

label {
    padding: 7px;
    display: block;
}

input {
    flex-direction: column;
    border: none;
    height: 30px;
    width: 390px;
    border-radius: 8px;
    font-size: 1em;
}

input[type="radio"] {
    height: 15px;
    width: 30px;
}

.form {
    margin: 20px 0 20px 0;
}

.iniciarquiz {
    background-color: var(--cor1);
    color: #ffffff;
    border-radius: 3px;
    height: 35px;
    width: 200px;
    font-size: 1em;
    border: none;
    margin-left: 25%;
}


@media(max-width: 800px) {

    #pagprincipal>.secaopp {
        flex-direction: column;
    }

    .secaopp.row-reverse {
        flex-direction: column;
    }

    #pagprincipal {
        width: 380px;
        margin: auto;
    }

    .contsecao>h1 {
        text-align: center;
        margin-top: 10px;
    }

}

@media(max-width: 600px) {
    .elerodape {
        padding-right: 0;
    }

    .card.active,
    .card-1.active {
        overflow-y: scroll;
        width: 70%;
        height: 60%;
    }
    .body{
        width: auto;
    }
}


@media(max-width: 470px) {
    nav {
        padding: 10px;
        margin-left: 10px;
    }

    .titulorodape>h1 {
        display: none;
    }

    #pagprincipal {
        width: 250px;
    }

    input {
        width: 300px;
    }

    form {
        width: 300px;
        margin: auto;
    }

    .iniciarquiz {
        margin-left: 15%;
    }
    .answers {
        display: flex;
        flex-direction: column;
    }

    .img {
        width: 300px;
    }

    .container .card-1,
    .container .card {
        padding: 10px;
        margin: 10px 0;
    }
    
    .form .tituloquiz {
        padding: 0;
        font-size: 1.5em;
    }

}   
@media(max-width: 350px) {

    nav ul,
    nav li {
        margin-right: 7px;
    }

    #pagprincipal {
        width: 200px;
    }

    input {
        width: 220px;
    }

    form {
        width: 222px;
        margin: auto;

    }

    .iniciarquiz {
        width: 150px;
        margin-left: 15%;
    }


    .container .card-1,
    .container .card {
        width: 230px;
    }

    .container .card .icon img, .container .card-1 .icon img {
        width: 230px;
    }
    
    #campoquiz{
        padding: 20px;
    }
    .form .tituloquiz {
        font-size: 1.2em;
    }
    .mainquiz .tituloquiz{
        font-size: 1.5em;
    }
    .img{
        width: 230px;
    }
}